#menu li {
  display: inline;
  padding-right: 10px;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 20px;
}
#menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu li a:hover {
  text-decoration: underline;
}
