<div class="row">
  <form action="" method="POST">
    <div class="col-6 offset-3">
      <div class="form-group">
        <label for="name">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          value="admin@admin.com"
        />
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          value="admin"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-info" type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
